body {
    padding: 0;
    margin: 0;
}

.aligner {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.aligner-item {
    max-width: 50%;
}

.aligner-item--fixed {
    flex: none;
    max-width: 50%;
}
